# Ignore node_modules for both client and server
/client/node_modules
/server/node_modules

# Ignore build files
/client/build
/server/build

# Ignore logs
*.log

# Ignore .env files for both client and server
/client/.env
/server/.env

# Ignore any system-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files (e.g., VSCode)
.vscode/
.idea/

